<div class="sessao">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <h1 style="margin-top: 0;">Natan Kurata</h1>
      </div>
      <div class="col-xs-12 col-sm-3">
        <ul>
          <li><a href="http://instagram.com/natankurata/" target="_blank">Spotify</a></li>
          <li><a href="http://instagram.com/natankurata/" target="_blank">Instagram</a></li>
          <li><a href="https://twitter.com/natankurata" target="_blank">Twitter</a></li>
          <li><a href="https://www.facebook.com/natankurata" target="_blank">Facebook</a></li>
          <li><a href="https://www.linkedin.com/in/natankurata/" target="_blank">Linkedin</a></li>
          <li>contato@natankurata.com.br</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img src="./images/upload-7c87780e-bd13-4e27-9dfe-4fceea235a82-min.jpg" alt="" class="img-responsive">
      </div>
    </div>
  </div>

</div>
<div class="sessao">
  <div class="cont">
    <div class="scorri scorri1">
      <ul class="tithome-compre-o-disco">
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
      </ul>
      <ul class="tithome-compre-o-disco">
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
      </ul>
      <ul class="tithome-compre-o-disco">
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
      </ul>
      <ul class="tithome-compre-o-disco">
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
        <li><a class="link-cursor" ng-click="gotoBottom('album')">Compre o Disco</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-4">
      <div sn-skrollr data-100p-top="transform: translate(-1800px, 1800px)" data-top="transform: translate(0px, 0px);"
        data--100p-top="transform: translate(1800px, -1800px)">
        <img class="gif-voador" src="./images/upload-a6092e4f-ed48-4806-bcab-7c1de4545468.gif" alt="">
      </div>
    </div>
  </div> -->
<div class="sessao">
  <div class="container-fluid">
    <div class="apresentacao">
      <p>Sou formado em administração de empresas pela ESPM e toda minha carreira trabalhei em agências de publicidade
        na área de atendimento e gestão de projetos. Nessa trajetória, vi o que uma mensagem pode fazer quando é
        transmitida do jeito certo. </p>
      <p>Por isso, me apaixonei pela música. Desde a minha infância tive contato com instrumentos musicais, e senti o
        poder que cada mensagem tem quando é feita de um jeito sincero. Por esse motivo tive diversas bandas e sempre
        gostei de compor músicas. </p>
      <p>Esses encontros entre artista e público são poderosos, influenciam a forma que a gente sente, melhoram nosso
        humor. E acredito que é minha maneira de contribuir para que o mundo seja um lugar um pouco melhor para viver.
      </p>
    </div>
  </div>
</div>

<!-- <div class="row">
    <div class="col-xs-12 col-sm-offset-6 col-sm-4">
      <div sn-skrollr data-100p-top="transform: translateY(900px)" data-top="transform: translateY(0px)"
        data--100p-top="transform: translateY(-900px)">
        <img class="gif-voador" src="./images/upload-15c3952a-1830-486f-821d-dbaa1013888.gif" alt="">
      </div>
    </div>
  </div> -->
<div class="sessao sessao-dark" id="album">
  <div class="container-fluid">
    <div class="album">
      <div class="row">
        <div class="col-xs-12 col-sm-7">
          <p>Grão é poderoso, deixa o organismo mais forte e saudável, alimenta a alma, e esse disco representa isso pra
            mim. O disco tem toda essa essência.</p>
          <p>Para comprar o disco entre em contato por <a href="https://twitter.com/natankurata"
              target="_blank">Twitter</a>, <a href="https://instagram.com/natankurata/" target="_blank">Instagram</a> ou
            <a href="https://facebook.com/natankurata/" target="_blank">Facebook</a>.</p>
          <p>Disco: R$ 80 + frete (palheta inclusa) <br>Palheta: R$ 4 + frete</p>
        </div>
        <div class="col-xs-12 col-sm-5">
          <img src="./images/upload-9cad7f43-3343-47f4-b573-73d3d593072a-min.jpg" alt="" class="img-responsive">
          <!-- <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-4">
              <div sn-skrollr data-100p-top="transform: translateY(1000px)" data-top="transform: translateY(0px)"
                data--100p-top="transform: translateY(-900px)">
                <img class="gif-voador" src="./images/upload-a4ac59b1-3d05-42f2-8f80-796d9c2e03c8.gif" alt="">
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <br>

    </div>

  </div>
  <div class="cont">
    <div class="scorri scorri2">
      <ul class="tithome-spotify">
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
      </ul>
      <ul class="tithome-spotify">
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
      </ul>
      <ul class="tithome-spotify">
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
      </ul>
      <ul class="tithome-spotify">
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
        <li><a href="https://open.spotify.com/artist/4qO3uuNJccyGely0IuC03x?si=W7KSfeV-QO-SBILp_FG5Xg"
            target="_blank">Ouça no Spotify</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sessao">
    <div class="clipe">
      <div class="row">
        <div class="col-xs-12 col-sm-2"></div>
        <div class="col-xs-12 col-sm-8">
          <h2 class="text-center">Lancei também dois videoclipes que trazem um pouco da minha concepção e personalidade.
          </h2>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="embed-responsive embed-responsive-4by3"  style="margin-bottom: 30px;">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6JGWNvGmT8Q"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="embed-responsive embed-responsive-4by3"  style="margin-bottom: 30px;">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/inOSjxNsBgg"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sessao">
    <div class="contato">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <p>Para mais informações, entre em contato pelo e-mail ou pelas redes sociais.</p>
          <br>
          <p><a href="#">Instagram</a></p>
          <p><a href="#">Twitter</a></p>
          <p><a href="#">Facebook</a></p>
          <p>contato@natankurata.com.br</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="./images/upload-d3ceadf7-dd2a-4ecc-9794-0c06932d437b-min.jpg" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
